<script type="text/ng-template" id="headerModal.html" >
  <style>
  .cropArea {
    background: #E4E4E4;
    margin: auto;
    overflow: hidden;
}

.cropArea.big {
    width: 800px;
    height: 600px;
}

.cropArea.medium {
    width: 500px;
    height: 350px;
    max-width: 100%;
    max-height: 50%;
}

.cropArea.small {
    width: 300px;
    height: 200px;
}

.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position: absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}

.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}

.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}

.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}
  </style>
  <div class="modal-body">
    <div class="container">
      <div class="row">
          <div data-ng-if="true"
            class="cropArea"
            data-ng-class="{'medium':true}">
            <ui-cropper
              image="imageDataURI"
              result-image="$parent.resImageDataURI"
              result-blob="$parent.resBlob"
              url-blob="$parent.urlBlob"
              change-on-fly="changeOnFly"
              area-type="{{type}}"
              area-min-size="selMinSize"
              area-init-size="selInitSize"
              result-image-format="resImgFormat"
              result-image-quality="resImgQuality"
              result-image-size="resImgSize"
              aspect-ratio="aspectRatio"
              allow-crop-resize-on-corners="false"
              disable-keyboard-access="false"
              init-max-area="true"
              chargement="'Testing Message'"
              on-change="onChange($dataURI)"
              on-load-begin="onLoadBegin()"
              on-load-done="onLoadDone()"
              on-load-error="onLoadError()"
              live-view="blockingObject"
              area-coords="myAreaCoords"
              canvas-scalemode="true">
            </ui-cropper>
          </div>
          <form ><br>
            <div class="btn-group" role="group" aria-label="Basic example">
              <label class="btn btn-primary btn-file">
                  Selecionar... <input type="file" id="fileInput" accept="image/*"
                  onchange="angular.element(this).scope().handleFileSelect(this.files[0])" />
              </label>
              <a ng-if="imageDataURI" data-ng-click="callTestFuntion()" class="btn btn-primary">Enviar</a>
              <button class="btn btn-primary"  ng-click="cancel()" >Cancelar</button>
            </div>
          </form>
          <!-- <img data-ng-src="{{urlBlob}}"/> -->


       </div>
     </div>
  </div>
</script>
