<header ng-controller="headerCtrl" >
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <!--style>
          .cropcircle{
            width: 250px;
            height: 250px;
            border-radius: 100%;
            background: #eee no-repeat center;
            background-size: cover;
            box-shadow: 0 0 8px rgba(0, 0, 0, .8);
            -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
            -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
            margin: 0 auto;
          }
          #image1{
            background-image: url({{ site.pages.home.img }});
          }
        </style-->
         <style>
           .c{
            border-radius: 100%;
              box-shadow: 0 0 8px rgba(0, 0, 0, .8);
              -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
              -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
            }
         </style>
        <!--div id="image1" 
             class="cropcircle img-responsive" 
             <% if @edit_flag == true %>
                onclick="$('#file').click();" 
             <% end %> >
        </div-->

        <img class="c"  ng-src="{{ site.pages.home.img }}" ng-click="openHeaderModal()"/>

        
        <!-- Indicates a successful or positive action -->
       
        <!--button id=header_img_confirm type="button" class="btn btn-primary" style="display: none" onclick="$('#uploadimage').submit();$('#header_img_confirm').hide();">Confirmar imagem</button-->
         

        <div class="intro-text">
          <span class="name">
            <div contenteditable="{{isLogged}}"
                ng-model="site.pages.home.label"
                strip-br="true"
                select-non-editable="true"
                ng-blur="saveDiv('site.pages.home.label')"
                placeholder="Texto de apresentação..."
                >
            </div>
          </span>
          <hr class="star-light">
          <span class="skills">          
            <div contenteditable="{{isLogged}}"
                ng-model="site.pages.home.body"
                strip-br="true"
                select-non-editable="true"
                ng-blur="saveDiv('site.pages.home.body')"
                placeholder="Sub-texto de apresentação..."
                >
            </div>          
          </span>
        </div>           
      </div>
    </div>
    <div>
    <br>
   </div>
  </div> 
</header>