<header ng-controller="headerCtrl" class="main-wrapper"  ng-style="{'background-image': 'url(' + backgroundUrl + ')'}">
  <!-- Start Switcher -->
  <div class="demo_changer" >
    <div class="demo-icon">
      <i class="fa fa-cog fa-spin fa-2x"></i>
    </div><!-- end opener icon -->
    <div class="form_holder">
      <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="predefined_styles">
                <style>
                div .backImg{
                    width: 80px;
                    height: 50px;
                    color: #fff;
                    margin-bottom: 10px;
                }
                .btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#upload-btn {
display:none;
}
                </style>

                <!-- END MODULE #2 -->
                    <h4>Imagem de fundo</h4>
                <!-- MODULE #3 -->
                <div id=fundos  style="overflow-y: auto; width: 100px; height: 100px; margin-left: 35px;" >
                    <div class=backImg ng-repeat="item in backGroundItems" back-img="/styleBackgrounds/{{item}}" ng-click="backgroundUrl_set('/styleBackgrounds/'+item)"></div>
                </div>
                <!-- END MODULE #3 --><br>
                <form name="myForm">
      <fieldset>
        <label class="btn btn-default btn-file">
          Selecioar<input id=file-input type="file" ngf-select ng-model="picFile" name="file"
               accept="image/*" ngf-max-size="2MB" required
               ngf-model-invalid="errorFile" hidden>
       </label>
        <i ng-show="myForm.file.$error.required">*required</i><br>
        <i ng-show="myForm.file.$error.maxSize">File too large
            {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
        <img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" class="thumb">
        <!-- <button ng-click="picFile = null" ng-show="picFile">Remove</button> -->

        <button id=upload-btn class="btn btn-primary" ng-disabled="!myForm.$valid"
                ng-click="uploadPic(picFile)">Enviar</button>
        <span class="progress" ng-show="picFile.progress >= 0">
          <div style="width:{{picFile.progress}}%"
              ng-bind="picFile.progress + '%'"></div>
        </span>
        <span ng-show="picFile.result">Upload Successful</span>
        <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
      </fieldset>
      <br>
    </form>
    <script>
    $('#file-input').on('change', function(evt) {
        var file = evt.target.files[0];
        if (file){
            $('#upload-btn').show();
        } else {
            $('#upload-btn').hide();
        }
    });
    </script>
                </div><!-- end predefined_styles -->
          </div><!-- end col -->
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="predefined_styles">
            <h4>Cor de fundo</h4>
            <!-- MODULE #5 -->
            <div class="demoPanel">
              <input class="form-control" id="cp1"/>
              <div id="tests" class="demo-links">
              </div>
            </div>
            <!-- END MODULE #5 -->
            <hr>
            <h4>Cor da fonte</h4>
            <!-- MODULE #6 -->
            <div class="demoPanel">
              <input class="form-control" id="cp2"/>
              <div id="tests" class="demo-links">
              </div>
            </div>
            <!-- END MODULE #6 -->

            </div><!-- end predefined_styles -->
          </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end form_holder -->
  </div><!-- end demo_changer -->
  <!-- End Switcher -->
  <div class="container">
    <div class="row">
  <!-- <input type="text" ng-model="selected"> -->
      <div class="col-lg-12">
         <style>
           .c{
            border-radius: 100%;
            box-shadow: 0 0 8px rgba(0, 0, 0, .8);
            -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
            -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
            padding: 2px;
            }

            <% if @isLogged then%>
              .isLogged{
                border: 2px dashed #ffffff;
              }
              .isLogged:hover {
                border: 2px dashed #0090D2;}
           <% end %>

         </style>

        <img class="c isLogged avatarImg"  ng-src="{{ site.pages.home.img }}" ng-click="!isLogged || openHeaderModal()"/>


        <div id=div1></div>
        <!-- Indicates a successful or positive action -->

        <!--button id=header_img_confirm type="button" class="btn btn-primary" style="display: none" onclick="$('#uploadimage').submit();$('#header_img_confirm').hide();">Confirmar imagem</button-->


        <div class="intro-text">
          <span class="name">
            <div contenteditable="{{isLogged}}"
                ng-model="site.pages.home.label"
                strip-br="true"
                select-non-editable="true"
                ng-blur="saveDiv('site.pages.home.label')"
                placeholder="Texto de apresentação..."
                >
            </div>
          </span>
          <hr class="star-light">
          <span class="skills">
            <div contenteditable="{{isLogged}}"
                ng-model="site.pages.home.body"
                strip-br="true"
                select-non-editable="true"
                ng-blur="saveDiv('site.pages.home.body')"
                placeholder="Sub-texto de apresentação..."
                >
            </div>
          </span>
        </div>
      </div>
    </div>
  </div>
</header>
