<style>
  div .backImg{
    width: 100px;
    height: 60px;
    color: #fff;
    margin-bottom: 10px;
  }
  .btn-file {
    position: relative;
    overflow: hidden;
  }
  .btn-file input[type=file] {
    position: absolute;
    top: 0;
    /*right: 0;*/shadow
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
  }

  .thumb {
    width: 200px;
    height: auto;
    float: none;
    position: relative;
    /*top: 7px;*/
  }
  .hh {
    text-center;
    center-block;
  }

  label.myLabel input[type="file"] {
    position: fixed;
    top: -1000px;
  }

    /***** Example custom styling *****/
    .myLabel {
    border: 2px solid #AAA;
    border-radius: 4px;
    padding: 2px 5px;
    margin: 2px;
    background: #DDD;
    display: inline-block;
    }
    .myLabel:hover {
    background: #CCC;
    }
    .myLabel:active {
    background: #CCF;
    }
    .myLabel :invalid + span {
    color: #A44;
    }
    .myLabel :valid + span {
    color: #4A4;
    }
</style>
<style>
  /* The only rule that matters */
  #video-background {
  /*  making the video fullscreen  */
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
  }
</style>
<style>
    #exTab1 .tab-content {
    color : white;
    background-color: #428bca;
    padding : 5px 15px;
    }

    #exTab2 h3 {
    color : white;
    background-color: #428bca;
    padding : 5px 15px;
    }

    /* remove border radius for the tab */

    #exTab1 .nav-pills > li > a {
    border-radius: 0;
    }

    /* change border radius for the tab , apply corners on top*/

    #exTab3 .nav-pills > li > a {
    border-radius: 4px 4px 0 0 ;
    }

    #exTab3 .tab-content {
    color : white;
    background-color: #428bca;
    padding : 5px 15px;
    }
</style>
<style>
  header {
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-attachment: scroll;
  }
  header {
    position: relative;
    height: 100%;
    z-index: 0;
  }
  header h1 {
    text-align: center;
    font: 3em/1.4 helvetica neue, helvetica, arial, sans-serif;
    color: #fff
  }
  header video {
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}
</style>
<style>
   .c{
    border-radius: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8) ;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    padding: 2px;
    }
    .txtShadow {
      text-shadow: 5px 5px 5px rgba(50, 33, 55, 0.6);
    }
    .txtShadow2 {
      text-shadow: 5px 5px 5px rgba(50, 33, 55, 0.5);
    }
    <% if @isLogged then%>
      .isLogged{
        border: 2px dashed #ffffff;
      }
      .isLogged:hover {
        border: 2px dashed #0090D2;}
   <% end %>

</style>
<style>
.hamburger {
  position: absolute;
  z-index: 2;
  cursor: pointer;
}

.line {
  width: 20px;
  height: 4px;
  background: #BCAD90;
  margin-bottom: 2px;
}

.menu {
  width: 200px;
  height: 100%;
  background: #BCAD90;
  position: fixed;
  top: 0;
  left: -320px;
  transition: left .1s;
}

.menu-item:first-child {
  margin-top: 180px;
}

.menu--open {
  left: 0;
}

.menu-item {
  color: #fff;
  width: 100%;
  padding: 1rem 3rem;
  box-sizing: border-box;
}

.menu-item:hover {
  background: #91966E;
  cursor: pointer;
}
</style>

<header ng-controller="headerCtrl" class="main-wrapper"  ng-style="{'background-color': head.backgroundColor, 'color': head.fontColor, 'background-image': head.backgroundUrl ? 'url(' + head.backgroundUrl + ')':''}">

  <div class="container">
    <div class="row">
      <div class="col-lg-12" >
        <div class=hamburger>
            <div class=line></div>
            <div class=line></div>
            <div class=line></div>
        </div>
        <img ng-show=head.show.avatar
             class="c isLogged avatarImg"
             ng-src="{{ head.avatar }}"
             ng-click="!isLogged || openHeaderModal()"/>
        <div id=div1></div>
        <div class="intro-text">
          <span class="name">
            <div contenteditable="{{isLogged}}"
                ng-show=head.show.txt1
                ng-model="head.txt1"
                strip-br="true"
                select-non-editable="true"
                ng-blur="saveDiv('head.txt1')"
                placeholder="texto 1"
                ng-class="{txtShadow: head.show.txtShadow}"
                >
            </div>
          </span>
          <hr ng-show="head.show.txt1 && head.show.txt2" class="star-light" ng-class="{txtShadow2: head.show.txtShadow}">
          <span class="skills">
            <div contenteditable="{{isLogged}}"
                ng-show=head.show.txt2
                ng-model="head.txt2"
                strip-br="true"
                select-non-editable="true"
                ng-blur="saveDiv('head.txt2')"
                placeholder="texto 2"
                ng-class="{txtShadow2: head.show.txtShadow}"
                >
            </div>
          </span>
        </div>
      </div>
    </div>
  </div>
</header>
