<script type="text/ng-template" id="headerModal.html" >
  <style>
  .cropArea {
    background: #E4E4E4;
    margin: auto;
    overflow: hidden;
}

.cropArea.big {
    width: 800px;
    height: 600px;
}

.cropArea.medium {
    width: 500px;
    height: 350px;
    max-width: 100%;
    max-height: 50%;
}

.cropArea.small {
    width: 300px;
    height: 200px;
}

.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position: absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}

.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}

.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}

.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}
  </style>
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <div>
          <!-- <input type="file" id="upload" accept="image/*" custom-on-change="handleFileSelect"/> -->
          <!-- Croppie needs a container -> using 'boundary' option -->
          <croppie ng-if="cropped.source" src="cropped.source" ng-model="cropped.image" options="{boundary:{width:500,height:550}, enableExif:true, enableOrientation:true, viewport:{ width: 260, height: 260, type: 'circle' } }"></croppie>
          Cropped Image: <br>
          <!-- <img ng-src="{{cropped.image}}" /> -->
        </div>
          <form ><br>
            <div class="btn-group" role="group" aria-label="Basic example">
              <label class="btn btn-primary btn-file">
                  Selecionar...
                  <input id="fileInput" type="file"
                         accept="image/*" custom-on-change="handleFileSelect"/>
              </label>
              <a ng-if="cropped.image" data-ng-click="upload(cropped.image,'avatar.png')" class="btn btn-primary">Enviar</a>
              <button class="btn btn-primary"  ng-click="cancel()" >Cancelar</button>
            </div>
          </form>
          <!-- <img data-ng-src="{{urlBlob}}"/> -->


       </div>
     </div>
  </div>
</script>
