<header ng-controller="headerCtrl" >
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <!--style>
          .cropcircle{
            width: 250px;
            height: 250px;
            border-radius: 100%;
            background: #eee no-repeat center;
            background-size: cover;
            box-shadow: 0 0 8px rgba(0, 0, 0, .8);
            -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
            -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
            margin: 0 auto;
          }
          #image1{
            background-image: url({{ site.pages.home.img }});
          }
        </style-->
         <style>
           .c{
            border-radius: 100%;
              box-shadow: 0 0 8px rgba(0, 0, 0, .8);
              -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
              -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
            }
         </style>
        <!--div id="image1" 
             class="cropcircle img-responsive" 
             <% if @edit_flag == true %>
                onclick="$('#file').click();" 
             <% end %> >
        </div-->

        <img class="c" ng-show="!crop_box" ng-src="{{ site.pages.home.img }}" />

        <ng-croppie  
          ng-show="isLogged && picFile && crop_box" 
          src="(picFile | ngfDataUrl) || site.pages.home.img"
          ng-model='croppedDataUrl'
          update='onUpdate'
          boundry="{w: 400, h:400}"
          viewport="{w: 250, h:250}"
          mousezoom="true"
          zoom="true"
          type="circle">
        </ng-croppie>

         <button class="btn btn-primary"  ng-show="isLogged" ng-click="CropBoxOpen()" custom-on-change="openBoxOpen()"  ngf-select ng-model="picFile" accept="image/*">Selecionar imagem</button>

        

        <button class="btn btn-primary" ng-show="isLogged && picFile" ng-click="upload(croppedDataUrl, picFile.name)" >Enviar</button> <br> 

        <button class="btn btn-primary" ng-show="(isLogged && picFile) && !flgUploadOk" ng-click="uploadCancel()" >Cancelar</button> <br> 

        <span class="progress" ng-show="progress >= 0">
          <div style="width:{{progress}}%" ng-bind="progress + '%'"></div>
        </span>
        <span ng-show="result">Imagem Enviada com sucesso!</span>
        <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
        <!-- Indicates a successful or positive action -->
       
        <!--button id=header_img_confirm type="button" class="btn btn-primary" style="display: none" onclick="$('#uploadimage').submit();$('#header_img_confirm').hide();">Confirmar imagem</button-->
         

        <div class="intro-text">
          <span class="name">
            <div contenteditable="{{isLogged}}"
                ng-model="site.pages.home.label"
                strip-br="true"
                select-non-editable="true"
                ng-blur="saveDiv('site.pages.home.label')"
                placeholder="Texto de apresentação..."
                >
            </div>
          </span>
          <hr class="star-light">
          <span class="skills">          
            <div contenteditable="{{isLogged}}"
                ng-model="site.pages.home.body"
                strip-br="true"
                select-non-editable="true"
                ng-blur="saveDiv('site.pages.home.body')"
                placeholder="Sub-texto de apresentação..."
                >
            </div>          
          </span>
        </div>           
      </div>
    </div>
    <div>
    <br>
   </div>
  </div> 
</header>