<style>
.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}
.menu {
  font-family: 'Helvetica Neue';
  font-weight: 100;
  font-size: 1rem;
}
.menu > h3 {
  font-family: 'Helvetica Neue';
  font-weight: 100;
  font-size: 1.5rem;
}
</style>

<div class="menu" >
  <h2 class=text-center>Ajustes</h2>
   <!-- <div class="demo-icon" ng-show=isLogged>
     <i class="fa fa-cog fa-spin fa-2x"></i>
   </div><!-- end opener icon -->
   <div class="form_holder" style="margin-top:0px;">
     <!-- <div class="btn-group">
       <a href="#1a" data-toggle="tab" class="btn btn-primary btn-xs">Cor</a>
       <a href="#2a" data-toggle="tab" class="btn btn-primary btn-xs">Imagem</a>
       <a href="#3a" data-toggle="tab" class="btn btn-primary btn-xs">Itens</a>
     </div> -->
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
       <div class="predefined_styles center-block">
         <div class="tab-content clearfix">
           <div >
               <div  style=""  class="center"><br>
                 <label for="fundo">Cor de fundo</label>
                 <color-picker ng-model="head.backgroundColor" event-api="eventApi" options="options"></color-picker>
                 <br>
                 <label for="fonte">Cor da fonte</label>
                 <color-picker ng-model="head.fontColor"  event-api="eventApi2" options="options"></color-picker>
                 <div class="checkbox">
                   <label><input type="checkbox" ng-model="head.show.txtShadow" ng-click="saveDiv('head.show.txtShadow')" >Sombra</label>
                 </div>
               </div>
           </div>
           <div >
             <!-- END MODULE #2 -->
             <!-- <h4>Imagem de fundo</h4> -->
             <!-- MODULE #3 --><br>
             <label for="fundo">Imagem de fundo</label>
             <div id=fundos   style="overflow-y: auto;  width: 120px; height: 100px;  background-color: #d9d9d9; outline: 1px solid #9a9292;"  >
               <div class="backImg " style="outline: 1px solid #b3b3b3; margin-left: 1px;" ng-repeat="item in backGroundItems" back-img="http://res.cloudinary.com/radiando/image/upload/headerBackground/thumbs/{{item}}" ng-click="backgroundUrl_set(item)"></div>
             </div>
             <!-- END MODULE #3 --><br>
             <form name="myForm">
                 <fieldset>
                   <div class="btn-group" role="group" aria-label="Basic example">
                   <button  type="button" class="btn btn-default btn-sm" style="font-size: 12px;" ng-click="backgroundUrl_clear();">Limpar</button>
                   <label class="btn btn-default btn-file btn-sm"  style="font-size: 12px;">
                     <input id=file-input ng-show=isLogged type="file" ngf-select= "uploadPic(picFile2)" ng-model="picFile2" name="file"
                       accept="image/*" ngf-max-size="3MB" required
                       ngf-model-invalid="errorFile" ngf-fix-orientation="true" hidden
                       ngf-resize-if="$width > 1500 || $height > 800"
                       ngf-resize="{width: 1500, height: 800}"
                       >
                       <span  ng-show="searchButtonText == 'Enviando'"><i class="glyphicon glyphicon-refresh spinning"></i></span>
                       {{ searchButtonText }}
                   </label>
</div>


                   <span class="progress" ng-show="picFile2.progress >= 0">
                     <div style="width:{{picFile2.progress}}%"
                         ng-bind="picFile2.progress + '%'"></div>
                   </span>
                   <span ng-show="picFile2.result">Imagem enviada!</span>
                   <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
                   <i ng-show="myForm.file.$error.maxSize">Imagem muito pesada
                       {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
                 </fieldset>
               </form>
           </div>
           <div >
             <div class="checkbox">
               <label>
                 <input type="checkbox"
                        ng-model="head.show.avatar"
                        ng-click="saveDiv('head.show.avatar')">Ativar imagem principal
               </label>
             </div>
             <div class="checkbox">
               <label>
                 <input type="checkbox"
                        ng-model="head.show.txt1"
                        ng-click="saveDiv('head.show.txt1')">Ativar sub-titulo #1
               </label>
             </div>
             <div class="checkbox">
               <label>
                 <input type="checkbox"
                        ng-model="head.show.txt2"
                        ng-click="saveDiv('head.show.txt2')">Ativar sub-titulo #2
               </label>
             </div>
           </div>
         </div><!-- end predefined_styles -->
       </div><!-- end col -->
       <!-- end col -->
     </div><!-- end row -->
   </div>
 </div><!-- end form_holder -->

 <!-- End Switcher -->
