 <!DOCTYPE html>
 <html lang="en">
   <head>
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Radiando.net2</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <!-- Bootstrap core CSS -->
    <link href="/realSite/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/bower_components/croppie/croppie.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="/realSite/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <!-- <link href="/realSite/vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css"> -->

    <!-- Custom styles for this template -->
    <link href="/realSite/css/freelancer.min.css" rel="stylesheet">
    <style>
       /*Header*/
       header {
         background-size: cover;
         background-attachment: fixed;
         background-position: center center;
         background-attachment: scroll;
       }
       header {
         position: relative;
         height: 100%;
         z-index: 0;
       }
       .txtShadow {
         text-shadow: 5px 5px 5px rgba(50, 33, 55, 0.6);
       }
       .txtShadow2 {
         text-shadow: 5px 5px 5px rgba(50, 33, 55, 0.5);
       }
       hr#head_star.star-light:after, hr#head_star.star-primary:after {
         color:;
       }
       hr.star-light:after {
            background-color: transparent;
       }
       hr {
           box-sizing: content-box;
           height: 0;
           overflow: visible;
       }
       .avatarImg {
         height: auto;
         width: auto;
         max-width: 250px;
         max-height: 250px;
       }
       .avatar_circle{
          border-radius: 100%;
          box-shadow: 0 0 8px rgba(0, 0, 0, .8) ;
          -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
          -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
          /*padding: 2px;*/
        }7
        .txtShadow {
          text-shadow: 5px 5px 5px rgba(50, 33, 55, 0.6);
        }
        .txtShadow2 {
          text-shadow: 5px 5px 5px rgba(50, 33, 55, 0.5);
        }

      /*Porfólio*/
      .imgBox {
        width: 360px;
        height: 260px;
        max-width: 100%;
        background-size: cover;
        background-position: center  center;
        background-repeat: no-repeat;
        margin-bottom: 10px;
      }
      div .imgBox:hover {
        opacity: 0.9;
        filter: alpha(opacity=90); /* For IE8 and earlier */
      }

      .modal-lg {
          max-width: 95%;
      }
      .modal-header {
        margin-top: 20px;
        border-bottom: 0px
      }
      .modal-footer {
        border-top: 0px
      }
      .modal-body {
        padding: 0rem;
      }
      .fa-3x {
          font-size: 2em;
      }
      .navbar-default {
        background-color:red !important;
      }
      [v-cloak] {
        display: none;
      }
      .editArea{
        border: 1px dashed #ccc;
        padding: 5px;
      }

      //
      // modal
      //
            .modal-mask {
          position: fixed;
          z-index: 9998;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, .5);
          transition: opacity .3s ease;
      }

      .modal-container {
          width: 300px;
          margin: 40px auto 0;
          padding: 20px 30px;
          background-color: #fff;
          border-radius: 2px;
          box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
          transition: all .3s ease;
          font-family: Helvetica, Arial, sans-serif;
      }

      .modal-header h3 {
          margin-top: 0;
          color: #42b983;
      }

      .modal-body {
          margin: 20px 0;
      }

      .text-right {
          text-align: right;
      }

      .form-label {
          display: block;
          margin-bottom: 1em;
      }

      .form-label > .form-control {
          margin-top: 0.5em;
      }

      .form-control {
          display: block;
          width: 100%;
          padding: 0.5em 1em;
          line-height: 1.5;
          border: 1px solid #ddd;
      }

      /*
       * The following styles are auto-applied to elements with
       * transition="modal" when their visibility is toggled
       * by Vue.js.
       *
       * You can easily play with the modal transition by editing
       * these styles.
       */

      .modal-enter {
        opacity: 0;
      }

      .modal-leave-active {
        opacity: 0;
      }

      .modal-enter .modal-container,
      .modal-leave-active .modal-container {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
      }

      .modal-body {
          padding-top: 20px;
          max-height: calc(100vh - 170px);
          overflow-y: auto;
      }
      .modal-header {
          padding-top: 0px;
          height: 20px;
      }

      /* Aparência que terá o seletor de arquivo */
      label {
        background-color: #315896;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
        margin: 10px;
        padding: 6px 20px;
        margin: 0px;
      }

    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
    <script>
    // Load a Google font by name.
    var loadFont = function(font) {
      WebFont.load({
        google: {
          families: [font]
        }
      });
    };

    </script>
  </head>
  <body id="page-top" >
    <%= erb :modals %>
    <div id="app" v-if="dataIsLoaded" v-cloak>
      <%= yield %>
    </div>
</body>
    <!-- Bootstrap core JavaScript -->

    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vuex"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.0"></script>
    <script src="/bower_components/exif-js/exif.js"></script>
    <script src="/realSite/vendor/jquery/jquery.min.js"></script>
    <script src="/realSite/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/bower_components/croppie/croppie.js"></script>
    <script src="http://gregpike.net/demos/bootstrap-file-input/bootstrap.file-input.js"></script>


    <!-- Plugin JavaScript -->
    <script src="/realSite/vendor/jquery-easing/jquery.easing.min.js"></script>


    <!-- Contact Form JavaScript -->
    <script src="/realSite/js/jqBootstrapValidation.js"></script>
    <script src="/realSite/js/contact_me.js"></script>


    <!-- Custom scripts for this template -->
    <script src="/realSite/js/freelancer.js"></script>
    <!-- template for the modal component -->
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>


    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script>


    // $('#headerModal').on('shown.bs.modal', function (e) {
    //     alert("I want this to appear after the modal has opened!");
    // });

    $( document ).on( "click", "#avatar_img", function() {
        $('#btn-upload').trigger('click')
    });

    Array.prototype.getUnique = function() {
        return [...new Set( [this] )];
    };

    // function trimObj(badJson) {
    //   return JSON.parse(JSON.stringify(badJson).replace(/(\\)?"\s*|\s+"/g, ($0, $1) => $1 ? $0 : '"'))
    // }

    // register modal component
    // register modal component

    </script>
    <!-- SortableJS -->
     <script src="https://unpkg.com/sortablejs@1.4.2"></script>
     <!-- VueSortable -->
     <script src="https://unpkg.com/vue-sortable@0.1.3"></script>
     <script src="/js/js.js"></script>
     <script src="/js/app.js"></script>

 </html>
