 <!-- Navigation -->

<nav ng-controller="navCtrl" class="navbar navbar-default navbar-fixed-top">

  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->

    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <style>
        .edit {
          margin-bottom: 1px;
          white-space: pre-line;
        }
        .edit0 {
          margin-bottom: 1px;
          white-space: normal;
        }
        [contenteditable="true"] { padding: 1px; outline: 2px dashed #CCC; }
        [contenteditable="true"]:hover { outline: 2px dashed #0090D2; }
      </style>
      <%= erb :header_controls %>
      <a class="navbar-brand"
         href="#page-top">
        <div id=logo contenteditable="{{isLogged}}"
          ng-model="navbar.logo.label"
          strip-br="true"
          select-non-editable="true"
          ng-blur="saveDiv('navbar.logo.label')"
          placeholder="&nbsp;"
          style="min-width: 50px;"
          >
        </div>
      </a><a ng-show="isLogged" href="#page-top" class="navbar-brand" ng-click="navbar.logo.label=''" event-focus="click" event-focus-id="#logo"><i class="glyphicon glyphicon-remove-sign"></i></a>

    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden">
            <a href="#page-top"></a>
        </li>
        <li ng-if="isLogged || (portfolio.show && portfolio.items.length > 0)" class="page-scroll"><a
            href="#portfolio">{{navbar.menu[0]}}</a></li>
        <li ng-if="isLogged || (about.show && (about.txt1.length > 0 || about.txt2.length > 0))" class="page-scroll"><a
            href="#about">{{navbar.menu[1]}}</a></li>
        <li ng-if="isLogged || contact.show" class="page-scroll"><a
            href="#contact">{{navbar.menu[2]}}</a></li>
      </ul>
    </div>
      <!-- /.navbar-collapse -->
  </div>
    <!-- /.container-fluid -->
</nav>
