 <!-- Navigation -->
 <style>
  .navbar-default {
    background-color:{{siteData.navbar.backgroundColor}}
  }
  .navbar {
    text-transform: unset;
  }
 </style>
<nav ng-controller="navCtrl"  class="navbar navbar-default navbar-fixed-top" id="mainNav">
  <div class="container" onclick='show(".menu_nav_fundo")'>
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <style>
        .edit {
          margin-bottom: 1px;
          white-space: pre-line;
        }
        .edit0 {
          margin-bottom: 1px;
          white-space: normal;
        }
        [contenteditable="true"] { padding: 1px; outline: 2px dashed #CCC; }
        [contenteditable="true"]:hover { outline: 2px dashed #0090D2; }
      </style>
      <%= erb :header_controls %>
      <div class="toggle_button"></div>
      <a class="navbar-brand"
         href="#page-top">
        <div
          id=logoFont
          contenteditable="{{isLogged}}"
          ng-model="siteData.navbar.logo.label"
          strip-br="true"
          select-non-editable="true"
          ng-blur="saveDiv('siteData.navbar.logo.label')"
          placeholder="&nbsp;"
          style="min-width: 50px; color:{{siteData.navbar.logo.color}}; font-family: {{siteData.navbar.logo.fontFamily}};"
          ng-style="{{'siteData.atual'}}"
          onclick='menu_logo()'
          >
          {{siteData.atual}}
        </div>
      </a><a ng-show="isLogged" href="#page-top" class="navbar-brand" ng-click="navbar.logo.label=''" event-focus="click" event-focus-id="#logo"><i class="glyphicon glyphicon-remove-sign"></i></a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
      <ul class="nav navbar-nav navbar-right" >
        <li class="hidden">
            <a href="#page-top"></a>
        </li>
        <li ng-if="(!siteData.portfolio.hide && siteData.portfolio.items.length > 0)" class="page-scroll"><a
            href="#portfolio" style="color:{{siteData.navbar.menuColor}}">{{siteData.portfolio.label | limitTo: 20 }}</a></li>
        <li ng-if="(!siteData.about.hide && (!siteData.about.txt1.length > 0 || !siteData.about.txt2.length > 0))" class="page-scroll"><a
            href="#about" style="color:{{siteData.navbar.menuColor}}">{{siteData.about.label | limitTo: 20 }}</a></li>
        <li ng-if="!siteData.contact.hide" class="page-scroll"><a
            href="#contact" style="color:{{siteData.navbar.menuColor}}">{{siteData.contact.label | limitTo: 20 }}</a></li>
      </ul>
    </div>
      <!-- /.navbar-collapse -->
  </div>
    <!-- /.container-fluid -->
</nav>
