<script type="text/ng-template" id="myModalContent.html">
  <style>
    form .progress {
        line-height: 15px;
    }
    .progress {
        padding-top: 20px;
        display: inline-block;
        width: 100px;
        border: 3px groove #CCC;
    }
    .progress div {
        font-size: smaller;
        background: orange;
        width: 0;
    }
    .progressBar{
      background-color: #2980b9;
      color: green;
      padding: 1em .5em;
      font-weight: 300;
      margin-bottom: 10px;
    }
    .modal-body {
      position: relative;
      padding: 0px;
      /*margin-top: 10px !important;*/
    }
    [contenteditable="true"], .imgEdit  {
      padding: 1px;
      outline: 2px dashed #CCC;
    }
    .center {
      display:table;
      margin: 0 auto !important; /* I have added the !important attribute just for debugging, you can remove it. */
    }
    .col-md-12 column form {
       display:table;
       margin:auto;
    }

    @media only screen
      and (min-device-width : 768px)
      and (max-device-width : 1024px)  {
          .topImg {
            width: 100%;
          }
          iframe {
            /*height: 29vw;*/
            width: 100%;
            margin: 0 auto;
            display: block;
          }
          .video-container {
            position: relative;
            padding-bottom: 5px;
            padding-top: 0px;
            width: 100%;
            max-width: 100%;
            overflow:hidden;
            margin: 0 auto;
            -webkit-overflow-scrolling: touch;
          }
          .modal-body {
            position: relative;
            padding: 0px;
            margin-top: 10px !important;
          }
      }
  </style>
  <div class="modal-dialog" ng-controller="MyFormCtrl" >
    <div class="modal-content">
      <div class="container" >
        <div class="row">
        <style>
          .padding0{
            padding-left: 0px;
            padding-right: 0px;
          }
          .padding15{
            padding-left: 15px;
            padding-right: 15px;
          }
          .icon-arrow-right {
            float: right;
          }
        </style>
          <div class="col-lg-12  col-xs-12 padding0">
            <div class="modal-body">
              <div class="panel-heading">
                <a href ng-click="cancel(picFile);"><i class="glyphicon glyphicon-remove-sign pull-right" style="font-size:30px;"></i></a>
                <h2 style="font-size: 25px;">
                  <div style="text-align:left;" contenteditable="{{isLogged}}" ng-model="item.titulo"
                    strip-br="true" select-non-editable="true"
                    ng-blur="saveDiv('item.titulo')" placeholder="Titulo">
                  </div>
                </h2>
            </div>
            <!-- <i class="material-icons " style="font-size:36px;">highlight_off</i> -->
            <div>
              <div class="row">
              <div class="col-xs-12 col-md-8 col-md-offset-2">
                <img ng-class="{imgEdit: isLogged}"
                  class="img-responsive img-centered topImg"
                  style="max-width:100%; margin-bottom: 13px;"
                  ng-src="{{item.img}}"
                  ng-show="item.img && item.mediaType == 'image'"
                  <% if @isLogged then%>
                    onclick="$('#imgSelect').trigger('click');"
                  <% end %>
                />
                <div class=row>
                <div align="center" class="col-xs-12 col-md-12 " >
                  <video autoplay=”false” ng-show="item.img_ && item.mediaType == 'video'" ng-src="{{item.img_}}"   width=100% controls="true" class="embed-responsive-item">
                  </video>
                  <video autoplay=”false” ng-show="!item.img_ && item.mediaType == 'video'" ng-src="{{item.img}}"  width=100%  controls="true" class="embed-responsive-item">
                  </video>
                </div>
              </div>
              </div>
            </div>
                <div ng-show="isLogged && !imgJaSubiu" >
                  <i ng-show="myForm.file.$error.maxSize">Arquivo muito pesado
                         {{errorFile.size / 10000000|number:1}}MB: max 2M</i>
                  <!-- <img ng-show="myForm.file.$valid && !imgJaSubiu" ngf-thumbnail="picFile" class="thumb" > &nbsp;&nbsp; -->
                  <div ng-show="picFile.progress >= 0"></div>
                  <!--span class="progress" ng-show="picFile.progress >= 0 && picFile.progress != 100">
                     <div class="progressBar" style="width:{{picFile.progress}}%;" ng-bind="picFile.progress + '%'"></div>
                  </span-->
                  <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
                </div>
                <div ng-show="isLogged" style="margin-bottom:10px;">
                  <!-- <input type="radio" ng-model="item.mediaType" value="video"   ng-change="saveDiv('item.mediaType')">Video -->

                  <button  class="btn btn-warning btn-sm" ng-show="isLogged" ng-click="item.img = ' ';saveDiv('item.img')">Excluir imagem</button>
                  <label class="btn btn-default btn-file btn-sm">

                  <input id="imgSelect" type="file"
                    class="form-control ce "
                    ng-show=isLogged
                    ngf-select = "uploadPic(picFile)"
                    ng-model="picFile" name="file"
                    accept="image/*" ngf-max-size="30MB"
                    required ngf-model-invalid="errorFile"
                    ngf-fix-orientation="true" ng-click="imgJaSubiu=false;"
                    style="display: none;"
                    ngf-pattern="'.jpg,!.jog'"
                    ngf-resize-if="$width > 800 || $height > 800"
                    ngf-resize="{width: 800, height: 800}"
                    ngf-validate="{size: {min: 10, max: '30MB'}}"
                    />
                    <span ng-show="searchButtonText == 'Enviando'"><i class="glyphicon glyphicon-refresh spinning"></i></span>
                    {{ searchButtonText }}
                  </label>
                  <label class="btn btn-default btn-file btn-sm">
                  <input id="imgSelect2" type="file"
                    class="form-control ce "
                    ng-show=isLogged
                    ngf-select = "uploadVideo(picFile)"
                    ng-model="picFile" name="file"
                    accept="video/*" ngf-max-size="30MB"
                    required ngf-model-invalid="errorFile"
                    ngf-fix-orientation="true" ng-click="imgJaSubiu=false;"
                    style="display: none;"
                    ngf-pattern="'video/*,!.jog'"
                    ngf-resize="{width: 800, height: 800}"
                    ngf-validate="{size: {min: 10, max: '30MB'}}"
                    />
                    <span ng-show="searchButtonText2 == 'Enviando'"><i class="glyphicon glyphicon-refresh spinning"></i></span>
                    {{ searchButtonText2 }}
                  </label>
                  <!-- ng-Change = "uploadPic(picFile)" -->
                  <!--button ng-show="picFile != undefined" type="submit" ng-click="uploadPic(picFile)">Enviar</button-->
                  <!--a href style="margin-left:10px;" ng-click="item.mediaType = 'video'; saveDiv('item.mediaType')">Anexar vídeo</a-->
                </div>
              <ul>
              <span class="progress" ng-show="file.progress >= 0">
                <div style="width:{{file.progress}}%"
                    ng-bind="file.progress + '%'"></div>
              </span>
              <li ng-repeat="f in errFiles" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}
              </li>
            </ul>
            {{errorMsg}}
           </div>
           <style>
              .element-container{
                 width:100%;
                 max-width: 500px;
                 margin: 0px auto;
              }
              .element{
                 width: 80%;
                 max-width: 500px;
                 height: auto;
                 margin-left: 10%;
              }

              </style>
              <div ng-if="item.mediaType == 'vsddideo'" class=element-container>
                 <!-- <ng-youtube-embed   video="item.video" width="560" height="315" >
                 </ng-youtube-embed> -->
                   <!-- <anguvideo ng-model="item.video"  hideControls></anguvideo> -->
                 <div class="embed-responsive embed-responsive-16by9 " class=element >
                   <embed-video iframe-id="vimeo1" api="1" player_id="vimeo1"  ng-href="{{item.video}}"></embed-video>
                 </div>
                 <form ng-show="isLogged">
                   <input  class="form-control" type="text" id="link" name="link" plaitem.txtceholder="Endereço do vídeo do Youtube ou do Vimeo" ng-model="item.video" ng-blur="saveDiv('item.video')">
                   ou <a href ng-click="item.mediaType = 'imagem'; saveDiv('item.mediaType')" style="margin-top: 10px; margin-bottom: 10px;">Enviar imagem</a>
                 </form>
              </div>
              <div class=padding15>
                  <!-- <hr class="star-primary"> -->
                    <p style="margin: 10px 0px 0px 0px">
                      <div contenteditable="{{isLogged}}"
                        style = "font-size: 20px; text-align:left;"
                        ng-model="item.txt"
                        strip-br="true"
                        select-non-editable="true"
                        ng-blur="saveDiv('item.txt')"
                        placeholder="Descrição"
                        >
                      </div>
                    </p>
                    <ul class="list-inline item-details">
                      <li ng-show="item.cliente || isLogged">cliente
                        <strong>
                          <div contenteditable="{{isLogged}}"
                            ng-model="item.cliente"
                            strip-br="true"
                            select-non-editable="true"
                            ng-blur="saveDiv('item.cliente')"
                            placeholder="_"></div>
                        </strong>
                      </li>
                      <li ng-show="item.data || isLogged">data
                        <strong>
                          <div contenteditable="{{isLogged}}"
                           ng-model="item.data"
                           strip-br="true"
                           select-non-editable="true"
                           ng-blur="saveDiv('item.data')"
                           placeholder="_">
                          </div>
                        </strong>
                      </li>
                      <li ng-show="item.servico || isLogged">serviço
                        <strong>
                           <div contenteditable="{{isLogged}}"
                             ng-model="item.servico"
                             strip-br="true"
                             select-non-editable="true"
                             ng-blur="saveDiv('item.servico')"
                             placeholder="_">
                           </div>
                       </strong>
                     </li>
                     <li ng-show="item.site || isLogged">site
                       <strong>
                         <div contenteditable="{{isLogged}}"
                           ng-model="item.site"
                           strip-br="true"
                           select-non-editable="true"
                           ng-blur="saveDiv('item.site')"
                           placeholder="_">
                         </div>
                       </strong>
                     </li>
                     <li ng-show="isLogged" ><span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
                       <js-tag js-tag-mode="typeahead" js-tag-options="jsTagOptions" ></js-tag>
                     </li>
                     <li ng-show="item.tags.length && !isLogged" ><span class="glyphicon glyphicon-tags" aria-hidden="true"></span><br>
                        <b>{{tagsJoin}}</b>
                     </li>
                  </ul>
              </div>
              <button type="button" ng-show="isLogged" class="btn btn-secondary" ng-click="excluir();"><i class="glyphicon glyphicon-trash"></i> Excluir</button>&nbsp;
              <button type="button" ng-show="isLogged" class="btn btn-secondary" ng-click="saveTags(tags)"><i class="glyphicon glyphicon-save"></i> Salvar</button>
              <button type="button" ng-show="isLogged" class="btn btn-secondary" ng-click="saveTags(tags); cancel(picFile);"><i class="glyphicon glyphicon-close"></i> Fechar</button>
              <a href ng-if="item.txt.length > 100 && !isLogged" ng-click="cancel(picFile);" style="margin-top: 10px;"><i class="glyphicon glyphicon-remove-sign" style="font-size:30px;"></i></a>
              <br>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    $('div[contenteditable]').keydown(function(e) {
      //trap the return key being pressed
      if (e.keyCode === 13  && !e.shiftKey) {
        // insert 2 br tags (if only one br tag is inserted the cursor won't go to the next line)
        //document.execCommand('insertHTML', false, '<br><br>');
        // prevent the default behaviour of return key pressed
        $("div[contentEditable]").blur()
        return false;
      }
    })
  </script>
