<style type="text/css">
  .centro {
   /* centraliza na horizontal */
    -ms-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;  
  }
 .free-wall {
        margin: 15px;
      }
      .brick img {
        margin: 0;
        display: block;
      }
</style>
<div ng-controller="imgGridCtrl">
 <section id="portfolio" >
    <div class="container">
       <div class="row">
          <div class="col-lg-12 text-center">
            <h2>
             <div contenteditable="<%=@edit_flag%>"
               ng-model="site.pages.portfolio.label"
               strip-br="true"
               select-non-editable="true"
               ng-blur="saveDiv('site.pages.portfolio.label')">
             </div>                
            </h2>
            <hr class="star-primary">                
          </div>
       </div>
       
       <div class="row">
         <div class="text-center">
         <!--  <ul>
            <li ng-repeat="cat in imageCategories">
              <a href ng-click="catselect.cat = cat">{{cat}}//</a></li>
          </ul> -->

          <button ng-show="imageCategories.length > 0" class="btn btn-primary" ng-click="filtraZero()">Todas</button>
          <button ng-show="imageCategories.length > 0" class="btn btn-primary" style="margin: 5px;" ng-repeat="cat in imageCategories" ng-click="$parent.catselect = cat"> {{cat}} </button>
        
         </div>
       </div>
       <% if @edit_flag == true %>
         <button type="button" class="btn btn-default" ng-click="portfolio_add()">+</button>
       <% end %>
       <div class="clearfix"></div>
       <br />
       <style>
          .crop {
            width: 360px;
            height: 260px;
            overflow: hidden;
          }
          .resize-img {
           max-width: 100%;
           height: 260px;
            overflow: hidden;
          }
          .resize-img2 {
           max-width: 100%;
           max-height: 100%;
           overflow: hidden;
          }
          img.resize{
            width:220px; /* you can use % */
            height: auto;
          }
       </style>
       <style type="text/css">
* { box-sizing: border-box; }

/* force scrollbar */
html { overflow-y: scroll; }

body { font-family: sans-serif; }

/* ---- grid ---- */

.grid {
  background: #DDD;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 33.333%;
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;
  width: 100%;
}


.cropArea {
            background: #E4E4E4;
            overflow: hidden;
            width: 400px;
            height: 400px;
        }

        img-crop {
            display: block;
            height: 100%;
            overflow: hidden;
            position: relative;
            width: 100%;
        }

        img-crop canvas {
            display: block;
            left: 50%;
            outline: 0 none;
            position: absolute;
            top: 50%;
        }

 </style>

  <div  class="row"  >
    <div class="grid" masonry="true" ng-sortable="barConfig">
      <div class="grid-item"  ng-repeat="image in imgs  | filter:(!!catselect || undefined) && {cat: catselect}" >
         <img ng-src="{{image.img}}" imageonload ng-click="open(image, $index); mostra($index);">
      </div>
    </div>
  </div>


   
 </section>

</div>

<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-body">
       <h2>
         <div contenteditable="<%=@edit_flag%>"
          ng-model="item.titulo"
          strip-br="true"
          select-non-editable="true"
          ng-blur="saveDiv('item.titulo', i)"
          placeholder="Titulo"
          >
         </div>         
       </h2>
       <style>
         .thumb {
            width: 24px;
            height: 24px;
            float: none;
            position: relative;
            top: 7px;
         }

         .cropArea {
    background: #E4E4E4;
    overflow: hidden;
    width:500px;
    height:350px;
}
form .progress {
    line-height: 15px;
}
.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}
.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}

#outer {
  width: 100%;
  text-align: center;
}

       </style>


       <form name="myForm" ng-controller="MyFormCtrl" ng-init="picFile" >         
          <div>Crop Image and Upload</div>
        <!--button ngf-select ng-model="picFile" accept="image/*">
             Select Picture</button-->

             <!--img  ngf-thumbnail="picFile || item.img" class="resize-img2" 
            <% if @edit_flag == true %>
             ng-click="up();"
            <% end %> -->
        item.img: {{item.img}}<br>
        picFile:{{picFile}}:
        
        <button ngf-select ng-model="picFile" accept="image/*">
            Select Picture</button>

              <ng-croppie   src="(picFile | ngfDataUrl) || item.img"
                ng-model='croppedDataUrl'
                update='onUpdate'
                boundry="{w: 500, h: 500}"
                viewport="{w: 300, h:300}"
                mousezoom="true"
                zoom="true"
                type="square">
  </ng-croppie>
        


        <!--div>
            <img ng-src="{{croppedDataUrl}}" />
        </div-->
        <button ng-click="upload(croppedDataUrl, picFile.name)">Submit</button>    
        <span class="progress" ng-show="progress >= 0">
          <div style="width:{{progress}}%" ng-bind="progress + '%'"></div>
        </span>
        <span ng-show="result">Upload Successful</span>
        <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
      <p>
        <div contenteditable="{{isLogged}}"
          style = "font-size: 20px;"
          ng-model="item.txt"
          strip-br="true"
          select-non-editable="true"
          ng-blur="saveDiv('item.txt', i)"
          placeholder="Descrição"
          >
        </div>
      </p>
      <ul class="list-inline item-details">         
          <li ng-show="item.cliente || isLogged">Cliente:
             <strong>              
              <div contenteditable="{{isLogged}}"
                ng-model="item.cliente"
                strip-br="true"
                select-non-editable="true"
                ng-blur="saveDiv('item.cliente', i)"
                placeholder="?"
                ></div>
             </strong>
          </li>
          <li ng-show="item.data || isLogged">Data:
              <strong>
               <div contenteditable="{{isLogged}}"
                ng-model="item.data"
                strip-br="true"
                select-non-editable="true"
                ng-blur="saveDiv('item.data', i)"
                placeholder="?">
               </div>
              </strong>
          </li>
          <li ng-show="item.servico || isLogged">Serviço:
              <strong>
                <div contenteditable="{{isLogged}}"
                  ng-model="item.servico"
                  strip-br="true"
                  select-non-editable="true"
                  ng-blur="saveDiv('item.servico', i)"
                  placeholder="?">                  
                </div>
              </strong>
          </li>
          <li ng-show="item.site || isLogged">Site:
              <strong>               
                <div contenteditable="{{isLogged}}"
                  ng-model="item.site"
                  strip-br="true"
                  select-non-editable="true"
                  ng-blur="saveDiv('item.site', i)"
                  placeholder="?">                  
                </div>  
              </strong>
          </li>
           <li ng-show="item.cat || isLogged">Categorias:
              <strong>
              <div contenteditable="{{isLogged}}"
                  ng-model="item.cat"
                  strip-br="true"
                  select-non-editable="true"
                  ng-blur="saveDiv('item.cat', i)"
                  placeholder="?"
                  >                  
                </div>                  
              </strong>
          </li>
      </ul>
      <br>
      <span class="progress" ng-show="picFile.progress >= 0">
        <div style="width:{{picFile.progress}}%" 
            ng-bind="picFile.progress + '%'"></div>
      </span>
      
      <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
      
      <!-- <button type="button" class="btn btn-default" ng-click="uploadPic(picFile, i);">Salvar</button> --> 
      <% if @edit_flag == true %>
        <button type="button" class="btn btn-default" ng-click="excluir(i);">Excluir</button>    
      <% end %>
      <button type="button" class="btn btn-default" ng-click="cancel();"><i class="fa fa-times"></i> Fechar</button>
  </div>
  </form>
</script>
