<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-body">
       <h2>
         <div contenteditable="{{isLogged}}"
          ng-model="item.titulo"
          strip-br="true"
          select-non-editable="true"
          ng-blur="saveDiv('item.titulo', i)"
          placeholder="Titulo"
          >
         </div>         
       </h2>
       <div name="myForm" ng-controller="MyFormCtrl" ng-init="picFile"  >
        <br>
        <img class="img-thumbnail"
             ng-show="!isLogged || !picFile || flgImg" 
             style="width:100%; max-width:500px;"
             ng-src="{{item.img}}"   
             ng-click="openImgSelect()"/><Br>
       
        <div ng-if='flgCropBox && (picFile != undefined)'>
          <ng-croppie  
            ng-show="isLogged" 
            src="(picFile | ngfDataUrl) || item.img"
            ng-model='croppedDataUrl'
            update='onUpdate'
            boundry="{w: 500, h:400}"
            viewport="{w: 360, h:260}"
            mousezoom="true"
            zoom="true"
            type="square">
          </ng-croppie>
          
       

          <div class="progress" ng-show="progress >= 0" style="margin:0 auto; width:400px;">>
            <div class="progress-bar" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" style="width:{{progress}}%; ">              
            </div>
          </div>
         
         <div ng-show="isLogged && picFile"> 
          <br>
          <button 
            class="btn btn-primary"
            ng-click="upload(croppedDataUrl, picFile.name);" ><span class="glyphicon glyphicon-upload " style="font-size:30px;" aria-hidden="true"></span></button>
         </div>    
        </div> 
        <button 
          style = "visibility: hidden; height:0px;"
          id="imgSelect"
          ng-show="isLogged"  
          ngf-select 
          ng-model="picFile" 
          accept="image/*" 
          ng-click="flgCropBox=true; flgImg=false">
            Selecionar imagem
        </button>
        <span ng-show="result">Imagem Enviada com sucesso!</span>
        <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
      
      <p>
        <div contenteditable="{{isLogged}}"
          style = "font-size: 20px;"
          ng-model="item.txt"
          strip-br="true"
          select-non-editable="true"
          ng-blur="saveDiv('item.txt', i)"
          placeholder="Descrição"
          >
        </div>
      </p>
      <ul class="list-inline item-details">         
          <li ng-show="item.cliente || isLogged">Cliente:
             <strong>              
              <div contenteditable="{{isLogged}}"
                ng-model="item.cliente"
                strip-br="true"
                select-non-editable="true"
                ng-blur="saveDiv('item.cliente', i)"
                placeholder="?"
                ></div>
             </strong>
          </li>
          <li ng-show="item.data || isLogged">Data:
              <strong>
               <div contenteditable="{{isLogged}}"
                ng-model="item.data"
                strip-br="true"
                select-non-editable="true"
                ng-blur="saveDiv('item.data', i)"
                placeholder="?">
               </div>
              </strong>
          </li>
          <li ng-show="item.servico || isLogged">Serviço:
              <strong>
                <div contenteditable="{{isLogged}}"
                  ng-model="item.servico"
                  strip-br="true"
                  select-non-editable="true"
                  ng-blur="saveDiv('item.servico', i)"
                  placeholder="?">                  
                </div>
              </strong>
          </li>
          <li ng-show="item.site || isLogged">Site:
              <strong>               
                <div contenteditable="{{isLogged}}"
                  ng-model="item.site"
                  strip-br="true"
                  select-non-editable="true"
                  ng-blur="saveDiv('item.site', i)"
                  placeholder="?">                  
                </div>  
              </strong>
          </li>
           <li ng-show="item.cat || isLogged">Categorias:
              <strong>
              <div contenteditable="{{isLogged}}"
                  ng-model="item.cat"
                  strip-br="true"
                  select-non-editable="true"
                  ng-blur="saveDiv('item.cat', i)"
                  placeholder="?"
                  >                  
                </div>                  
              </strong>
          </li>
      </ul>
      <br>
      <!--span class="progress" ng-show="picFile.progress >= 0">
        <div style="width:{{picFile.progress}}%" 
            ng-bind="picFile.progress + '%'"></div>
      </span-->
      
      <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
      
      <button type="button" ng-show="isLogged" class="btn btn-default" ng-click="excluir(i);">Excluir</button>    
     
      <button type="button"  class="btn btn-default" ng-click="cancel();"><i class="fa fa-times"></i> Fechar</button>
  </div>
 
  <script type="text/javascript">
    $(document).on('paste','[contenteditable]',function(e) {
	    e.preventDefault();
	    var text = (e.originalEvent || e).clipboardData.getData('text/plain') || prompt('Paste something..');
	    window.document.execCommand('insertText', false, text);
	});
</script>