<style>
  .imgBox {
    width: 360px;
    height: 260px;
    max-width: 100%;
    background-size: cover;
    background-position: center  center;
    background-repeat: no-repeat;
    margin-bottom: 10px;
  }
  div .imgBox:hover {
    opacity: 0.9;
    filter: alpha(opacity=90); /* For IE8 and earlier */
  }
  .modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .modal-content {
    height: auto;
    min-height: 100%;
    border-radius: 0;
  }
  .modal {
    -webkit-overflow-scrolling: auto
}
</style>
<div ng-controller="imgGridCtrl as vm" >
  <section id="portfolio" >
    <div class="container">
       <div class="row">
          <div class="col-lg-12 text-center">
            <h2>
             <div contenteditable="{{isLogged}}"
               ng-model="portfolio.label"
               strip-br="true"
               select-non-editable="true"
               ng-blur="saveDiv('portfolio.label')">
             </div>
            </h2>
            <hr class="star-primary">
          </div>
       </div>
       <div class="row">
         <div class="text-center">
           <div ng-switch on="video">
             <div ng-switch-when="video.large">
               <!-- code to render a large video block-->
             </div>
             <div ng-switch-default>
               <!-- code to render the regular video block -->
             </div>
          </div>
          <span ng-show="(vm.data.device != 'iphone' && vm.data.device != 'android')" class="center" >
            <button ng-show="portfolio.itemsTags" class="btn btn-primary" ng-click="filtraZero()">todas</button>
            <button ng-show="portfolio.itemsTags" class="btn btn-primary" style="margin: 5px;" ng-repeat="tag in portfolio.itemsTags track by $index" ng-click="$parent.tagSelect = tag"> {{tag}} </button>
          </span>
          <span ng-show="(vm.data.device == 'iphone' || vm.data.device == 'android')" class="center" >
            <select ng-options="tag for tag in portfolioItemsTags" ng-model="$parent.tagSelect">
              <option value="">Todos</option>
            </select><br>
          </span>
        </div>
    </div>
    <div ng-show="isLogged">
      <button ng-show="isLogged" type="button" class="btn btn-second" ng-click="portfolio_add()"><i class="glyphicon glyphicon-plus"></i> Novo</button>
      <div class="checkbox" style="float: right">
        <label><input type="checkbox"  name="my-checkbox" ng-model="isSelected">Arrastar</label>
      </div>
    </div>
    <div class="clearfix"></div>
      <br />
      <div class="row" ng-sortable="barConfig">
         <div id="anchor{{$index}}" class="col-sm-4 portfolio-item " ng-repeat="item in portfolioItems | filterByTags:tagSelect ||undefined" >
           <div ng-if="isLogged && (vm.data.device == 'iphone' || vm.data.device == 'android') && isSelected " class="drag-handle tile center" style="text-align: center;">
             <i style="font-size: 24px;" class="glyphicon glyphicon-move"></i>
           </div>
           <div class="thumbnail">
             <a href=javascript:void(0); class="portfolio-link" style="text-align: center;" ng-click="preOpen(item);">
               <div class="imgBox" back-img="{{item.img}}"></div>
               <p><strong>{{item.titulo | limitTo:30}}</strong></p>
             </a>
          </div>
        </div>
     </div>
   </section>
</div>
