<script type="text/ng-template" id="myModalContent.html">
  <style>
    .thumb {
        width: 200px;
        height: auto;
        float: none;
        position: relative;
        top: 7px;
    }
    form .progress {
        line-height: 15px;
    }
    .progress {
        padding-top: 20px;
        display: inline-block;
        width: 100px;
        border: 3px groove #CCC;
    }
    .progress div {
        font-size: smaller;
        background: orange;
        width: 0;
    }
    .progressBar{
      background-color: #2980b9;
      color: green;
      padding: 1em .5em;
      font-weight: 300;
      margin-bottom: 10px;
    }
    .modal-body {
      position: relative;
      padding: 0px;
      margin: 0px;
    }
    [contenteditable="true"], .imgEdit  {
      padding: 1px;
      outline: 2px dashed #CCC;
    }
    @media screen {
      iframe {
        /*height: 29vw;*/
        width: 100%;
      }


    .video-container {
      position: relative;
      padding-bottom: 20px;
      padding-top: 30px;
      width: 500px;
      max-width: 100%;
      overflow:hidden;
      margin: 0 auto;
      -webkit-overflow-scrolling: touch;
    }
}
  </style>
  <div class="modal-body" ng-controller="MyFormCtrl" >
    <div class="modal-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12  col-xs-12">
            <div class="modal-body">
              <h2>
                <div contenteditable="{{isLogged}}" ng-model="item.titulo"
                  strip-br="true" select-non-editable="true"
                  ng-blur="saveDiv('item.titulo')" placeholder="Titulo">
                </div>
              </h2>
              <hr class="star-primary">
              <div ng-show="isLogged">
                <input type="radio" ng-model="item.mediaType" value="imagem"  ng-change="saveDiv('item.mediaType')">Image
                <input type="radio" ng-model="item.mediaType" value="video"   ng-change="saveDiv('item.mediaType')">Video
              </div>
              <div ng-if="item.mediaType == 'imagem'">
                <img ng-class="{imgEdit: isLogged}"
                  class="img-responsive img-centered"
                  style="max-width:100%; margin-bottom: 13px;"
                  ng-src="{{item.img}}"
                  ng-show="!picFile || true"
                  <% if @isLogged then%>
                    onclick="$('#imgSelect').trigger('click');"
                  <% end %>
                  />
                <div ng-show="isLogged && !imgJaSubiu" >
                  <i ng-show="myForm.file.$error.maxSize">Arquivo muito pesado
                         {{errorFile.size / 10000000|number:1}}MB: max 2M</i>
                  <!-- <img ng-show="myForm.file.$valid && !imgJaSubiu" ngf-thumbnail="picFile" class="thumb" > &nbsp;&nbsp; -->
                  <div ng-show="picFile.progress >= 0"><br></div>
                  <span class="progress" ng-show="picFile.progress >= 0 && picFile.progress != 100">
                     <div class="progressBar" style="width:{{picFile.progress}}%;" ng-bind="picFile.progress + '%'"></div>
                  </span>
                  <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
                </div>
                <button  ng-show="isLogged" ng-click="item.img = ' ';saveDiv('item.img')">Excluir imagem</button>
                <input id="imgSelect" type="file"
                  ng-show=isLogged
                  ngf-select
                  ng-Change = "uploadPic(picFile)"
                  ng-model="picFile" name="file"
                  accept="image/*" ngf-max-size="10MB"
                  required ngf-model-invalid="errorFile"
                  ngf-fix-orientation="true" ng-click="imgJaSubiu=false;"
                  >
              </div>
              <div ng-if="item.mediaType == 'video'">
                 <!-- <ng-youtube-embed   video="item.video" width="560" height="315" >
                 </ng-youtube-embed> -->
                 <div class="video-container" >
                   <anguvideo ng-model="item.video" width="560" height="315"></anguvideo>
                 </div>
                 <form ng-show="isLogged">
                   <input  class="form-control" type="text" id="link" name="link" placeholder="Change URL" ng-model="item.video" ng-blur="saveDiv('item.video')">
                 </form>
              </div>
                <p style="margin: 0px 200px 0px 200px">
                  <div contenteditable="{{isLogged}}"
                    style = "font-size: 20px;"
                    ng-model="item.txt"
                    strip-br="true"
                    select-non-editable="true"
                    ng-blur="saveDiv('item.txt')"
                    placeholder="Descrição"
                    >
                  </div>
                </p>
                <ul class="list-inline item-details">
                  <li ng-show="item.cliente || isLogged">Cliente:
                    <strong>
                      <div contenteditable="{{isLogged}}"
                        ng-model="item.cliente"
                        strip-br="true"
                        select-non-editable="true"
                        ng-blur="saveDiv('item.cliente')"
                        placeholder="_"></div>
                    </strong>
                  </li>
                  <li ng-show="item.data || isLogged">Data:
                    <strong>
                      <div contenteditable="{{isLogged}}"
                       ng-model="item.data"
                       strip-br="true"
                       select-non-editable="true"
                       ng-blur="saveDiv('item.data')"
                       placeholder="_">
                      </div>
                    </strong>
                  </li>
                  <li ng-show="item.servico || isLogged">Serviço:
                    <strong>
                       <div contenteditable="{{isLogged}}"
                         ng-model="item.servico"
                         strip-br="true"
                         select-non-editable="true"
                         ng-blur="saveDiv('item.servico')"
                         placeholder="_">
                       </div>
                   </strong>
                 </li>
                 <li ng-show="item.site || isLogged">Site:
                   <strong>
                     <div contenteditable="{{isLogged}}"
                       ng-model="item.site"
                       strip-br="true"
                       select-non-editable="true"
                       ng-blur="saveDiv('item.site')"
                       placeholder="_">
                     </div>
                   </strong>
                 </li>
                 <li ng-show="isLogged" >Marcadores:
                   <js-tag js-tag-mode="typeahead" js-tag-options="jsTagOptions" ></js-tag>
                 </li>
                 <li ng-show="item.tags && !isLogged" >Marcadores:<br>
                    <b>{{tagsJoin}}</b>
                 </li>
              </ul>
              <button type="button" ng-show="isLogged" class="btn btn-secondary" ng-click="excluir();"><i class="glyphicon glyphicon-trash"></i> Excluir</button>&nbsp;
              <button type="button" ng-show="isLogged" class="btn btn-secondary" ng-click="saveTags(tags)"><i class="glyphicon glyphicon-save"></i> Salvar</button>
              <button type="button"  class="btn btn-secondary" ng-click="cancel(picFile);"><i class="glyphicon glyphicon-remove"></i> Fechar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    $('div[contenteditable]').keydown(function(e) {
      //trap the return key being pressed
      if (e.keyCode === 13  && !e.shiftKey) {
        // insert 2 br tags (if only one br tag is inserted the cursor won't go to the next line)
        //document.execCommand('insertHTML', false, '<br><br>');
        // prevent the default behaviour of return key pressed
        $("div[contentEditable]").blur()
        return false;
      }
    })
  </script>
