<!-- Navigation -->
<nav class="navbar navbar-expand-lg  fixed-top text-uppercase"
     :style="{'background': siteData.navbar.backgroundColor}"
     id="mainNav">
  <div class="container" >
    <!-- <a class="navbar-brand js-scroll-trigger"
       href="#page-top"
       :style="{'min-width': '50px', 'color':siteData.navbar.logoColor, 'font-family': siteData.navbar.logo.fontFamily}">
       {{siteData.navbar.logo.label}}
    </a> -->
    <edit
      class="navbar-brand js-scroll-trigger"
      style="border: 1px dashed #ccc; padding: 5px;"
      :style="{'min-width': '50px', 'color':siteData.navbar.logoColor, 'font-family': siteData.navbar.logo.fontFamily}"
      :content="'siteData.navbar.logo.label'">
    </edit>
    <!-- <editable
      class="navbar-brand js-scroll-trigger"
      :style="{'min-width': '50px', 'color':siteData.navbar.logoColor, 'font-family': siteData.navbar.logo.fontFamily}"
      :campo="'siteData.navbar.logo.label'"
      @update="siteData.navbar.logo.label = $event">
    </editable> -->
    <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mx-0 mx-lg-1" v-for="item in siteData.navbar.menu">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" :href="'#'+item.link" :style="{ color: siteData.navbar.menuColor }">{{item.label}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
