<section class="portfolio" id="portfolio">
  <div class="container">
    <h2 class="text-center text-uppercase text-secondary mb-0">Portfolio</h2>
    <hr class="star-dark mb-5">
    <div class="row justify-content-center" style="margin-bottom: 20px;">
      <div v-if="siteData.portfolio.itemsTags" class="col-xs-12">
    		<button class="btn btn-small btn-danger" v-on:click="select('all')">
					Todos
			  </button>
				<button
          class="btn btn-small btn-danger"
          style="margin: 5px;"
          data-toggle="portfilter"
          v-on:click="select(item)"
          v-for="(item, index) in siteData.portfolio.itemsTags">
					{{item}}
				</button>
			</div>
    </div>
    <div class="row">
      <!-- Button trigger modal -->
      <div class="col-md-6 col-lg-4"
           v-for="(item, index) in filteredList">
       <div class="thumbnail" >
        <a class="portfolio-item d-block mx-auto"  data-toggle="modal" :data-target="'#exampleModalLong'+item.id">
           <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
             <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
               <i class="fa fa-search-plus fa-3x"></i>
             </div>
           </div>
           <div  class="imgBox"  :style="{ backgroundImage: 'url(contas/'+siteData.info.name+'/img/portfolio/' + item.img + ')'}"></div>
        </a>
       </div>
      </div>
    </div>
  </div>
</section>
